[submodule "Misal_Coursera"]
	path = Embedded_Systems/Intro_to_Embedded_Systems_Software_and_Dev/C1M1-Misal
	url = https://bitbucket.org/sourabhmisal1/Misal_Coursera
[submodule "Embedded_Systems/Intro_to_Embedded_Systems_Software_and_Dev/C1M1-Misal"]
	path = Embedded_Systems/Intro_to_Embedded_Systems_Software_and_Dev/C1M1-Misal
	url = https://sourabhmisal1@bitbucket.org/sourabhmisal1/C1M1-Misal
[submodule "Embedded_Systems/Intro_to_Embedded_Systems_Software_and_Dev/c1m2-misal"]
	path = Embedded_Systems/Intro_to_Embedded_Systems_Software_and_Dev/c1m2-misal
	url = https://sourabhmisal1@bitbucket.org/sourabhmisal1/c1m2-misal.git
